<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" type="text/css" href="css/sample.css" th:href="@{/css/sample.css}" />-->
<!--    <script th:src="@{/js/jquery.js}"></script>-->
</head>
<body>
<div class="header">LETSBIM简单示例</div>
<div class="tips">第一步：上传文件</div>
<div class="box">

    <div class="upload-file" th:if="!${fileId}">
        <form action="/uploadFile" method="post" enctype="multipart/form-data">
            <p><input type="file" name="file"></p>
            <p><input type="submit" value="上传"></p>
            <div class="upload-desc">
                格式： rvt, rfa, ifc, dw",dxf,fbx, obj,gltf,glb,zip<br/>
                大小：1G
            </div>
        </form>

        <p th:text="${fileId}"></p>
    </div>



    <div class="box" >
        <div class="tips">第二步：根据文件ID发起转换</div>
        <div class="translate-file">
            <a th:href="@{/translateFile(fileId=${fileId})}">转换文件</a>
            <p th:text="${translateResult}"></p>


            <a th:href="@{/getFileState(fileId=${fileId})}">获取文件状态</a>
            <p th:text="${fileState}"></p>
        </div>
    </div>





    <div class="tips">第三步：获取ViewToken，并对接JS显示组件打开模型</div>
    <div class="translate-file">
        <a th:href="@{/getFileViewToken(fileId=${fileId})}">模型展示</a>
    </div>


</div>

</body>
</html>