<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<H1>LETSBIM简单示例</H1>

<H3>第一步：上传文件</H3>
<div class="container">
    <div class="upload-file">
        <form action="/uploadFile" method="post" enctype="multipart/form-data">
            <p><input type="file" name="file"  accept=".rvt"  ></p>
            <p><input type="submit" value="上传"></p>
            <div class="upload-desc">
                请上传文件
            </div>
            <h4>上传文件Id是：</h4><a th:text="${fileId}"></a>
            <a th:text ="${exceptionMessage}"></a>
        </form>
    </div>
    <br/><br/>


    <div class="box" >
        <H3>第二步：根据文件ID发起转换</H3>
        <div class="translate-file">
            <a th:href="@{/translateFile(fileId=${fileId})}">转换文件</a>
            <h4>转换结果：</h4><p th:text="${translateResult}"></p>
        </div>

    </div>

    <br/><br/>


    <div class="box" >
        <H3>第三步：根据文件ID获取转换文件状态</H3>
        <div class="translate-file">
            <a th:href="@{/getFileState(fileId=${fileId})}">获取文件状态</a>
            <h4>文件转换状态是：</h4><p th:text="${fileState}"></p>
        </div>

    </div>

    <br/><br/>

    <H3>第四步：获取ViewToken，打开模型</H3>
    <div class="translate-file">
        <a th:href="@{/getFileViewToken(fileId=${fileId})}">模型展示</a>
    </div>

</div>

<script th:inline="javascript" >

</script>
</body>
</html>